.label {
	-fx-font-size: 20;
	-fx-text-fill: #ffffff;
}

.button {
	-fx-border-color: transparent; 
	-fx-border-width: 0; 
	-fx-background-radius: 0; -fx-background-color: transparent; 
	-fx-font-size: 30; /* 30 */ -fx-text-fill: #ffffff;
}